/* index */
@font-face { 
    font-family: "Franklin Gothic Book"; src: url('fuentes/FRABKIT.ttf');

}

*{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Book";
}

header {
    margin-bottom: 20px;
}

#logo {
    width: 100px;
    margin-left: 60px;
}

.titulo_index li h1 {
    font-size: 30px;
    margin: 0;
    padding-top: 30px;
    vertical-align: middle;
}

.titulo {
    text-align: center;
    color: #005883;
}

.menu {
    background-color: #005883;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

.menu ul li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 12px;
    text-align: center;
}

/* Lecturas */

/*.menu ul {
    list-style: none;
}*/

.menu ul li a {
    color: #005883;
    background-color: #fff;
    display: block;
    padding: 10px;
}

.menu ul li a:hover {
    background: #1a95d5;
    color: white;
}

.menu ul ul {
    display: none;
}

.menu ul ul li a {
    background: #424242;
    color: #e9e9e9;
}

.menu ul .activado>a {
    background: #1a95d5;
    color: white;
}

/*@media screen and (max-width:100px) {
    body {
        padding-top: 80px;
    }
    .menu {
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .menu ul {
        display: none;
    }
}*/

/* Modificación css material */

nav {
    color: #fff;
    background-color: #005883;
    width: 100%;
    height: 100px;
    line-height: 56px;
}

.pdg0 {
    padding: 0 !important;
}

@media only screen and (min-width: 601px) nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 100px;
    line-height: 64px;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    /*border-top: 3px solid #005883;*/
    background-color: #005883;
}

#logoscalidad {
    width: 30%;
    height: 15%;
}

#letrafooter {
    font-size: 12px;
    font-weight: bold;
    color: white;
}